* {
    font-family: 'Playfair Display';
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    color: #000000;
  }

  p{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  .bg-steel {
    background-color: #9CEBBB;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #000000;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .site-header .navbar-brand{
    color: #000000
  }
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .btn-primary {
    background-color: #9CEBBB;
    border-color: #000000; /* Outline color */
  }
  
  .btn-primary:hover {
    background-color: #000000; /* Color on hover */
    border-color: #000000; /* Outline color on hover */
  }

  .site-header .navbar-nav {
    margin-left: auto; 
  }
  
  .site-header .navbar-brand {
    margin-right: auto; 
  }

  .chatlogo {
    opacity: 0.2; /* Adjust the opacity value as desired */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  @media only screen and (max-width: 150px){
    body{
      text-align: left;
    }
  }

  @media only screen and (min-width: 577px){
    .site-header .navbar-nav{
      margin-left: auto;
    }

    .site-header .navbar-brand {
      margin-right: auto;
    }
    
    .container {
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 992px){
    .chatlogo {
      opacity: .2;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    margin: 0 auto;
  }

  .site-header .navbar-nav .nav-link {
    color: #000000;
    margin-right: 50px; 
    font-size: 1.2rem;
  }

  .site-header .navbar-brand {
    color: #000000;
    font-size: 2rem; 
  }

/* Login styling */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.popup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#pdf-form .form-group {
  margin-bottom: 0; 
}


#pdf-form .text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


#pdf-form .form-group input[type="file"] {
  width: 140px;
  margin-right: 10px;
}


#pdf-form .btn-primary {
  width: 150px;
}


.row p {
  text-align: center;
  padding: 20px 100px;
}


.btn-primary {
  width: 250px; 
  margin: 5px; 
}


@media (min-width: 576px) {
  .btn-primary {
    width: 250px; 
  }
}


@media (min-width: 992px) {
  .row .col {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .row .col .btn-primary {
    width: 250px; 
  }

  .row .col .btn-primary + .btn-primary {
    margin-left: 10px; 
  }
}
  

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  pointer-events: none;
}


.pdfbtn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #9CEBBB;
  border-color: #000000;
  cursor: pointer;
}


.pdfbtn:hover {
  background-color: #000000;
  border-color: #000000;
}


.pdfbtn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.pdfbtn + .form-control-file {
  width: 140px;
  margin-right: 10px;
}


.center-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.introp {
  max-width: 1200px; 
  margin: 50 auto; 
}

.summary-toggle-btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #9CEBBB;
  border-color: #000000;
  cursor: pointer;
}
  
.summary-toggle-btn:hover {
  background-color: #000000;
  border-color: #000000;
}

.summary-toggle-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.summary-toggle-btn + .form-control-file {
  width: 140px;
  margin-right: 10px;
}

.summary-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.delete-btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #dc3545; /* Bootstrap's danger color */
  border-color: #dc3545; /* Bootstrap's danger color */
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #c82333; /* Darker shade for hover effect */
  border-color: #bd2130; /* Darker shade for hover effect */
}