{% extends 'base.html' %}
{% block content %}
<div class="row" style="text-align: center;">
    <h1>Put article link below</h1>
</div>
<!-- Need to fix up styling later -->
<div class="row" style="text-align: center;">
    <div class="col"></div>
    <div class="col">
        <form>
            <div class="form-group">
              <input type="url" class="form-control" id="exampleInputUrl" placeholder="Enter article URL">
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}